<strong>Olá, {{ usuario }} </strong>

<p>Usuário cadastrado com sucesso:</p>
<p>
  <strong>Cliente: </strong> {{ usuario }} <br />

  <strong> Data/hora: ... </strong> <br />

  <br />

  <small>
    Agora voceê pode efetuar o login com seus dados cadastrados!
  </small>
</p>